* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    background-color: lightblue;
    min-height: 100vh;
    border: 10px solid navy;
}

.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1 {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1d1e4c;
}

.top_section h4 {
    text-align: end;
    font-size: 25px;
    color: #1d1e4c;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.image_container {
    border-radius: 50%;
    overflow: hidden;
}


.image_container,
img {
    width: 300px;
    height: 320px;
}

.about_me {
    margin: 50px;
}

.about_me h2 {
    font-size: 40px;
    font-weight: 400px;
    margin-bottom: 20px;
}

.about_me p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.1px;

}

.biographies {

    margin: 50px;
    margin-bottom: 20px;
}

.biographies h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.biographies ul {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.1px;
    margin-left: 20px;
}

footer p {
    text-align: end;
    margin: 50px 0px;

}